/* table{
    width: 50%;
    margin-right: 20px;
    margin-left: 20px;
} */

mat-label{
    font-size: 1.125rem;
    padding: 0.5rem 1rem;
}

mat-form-field{
    padding-inline: 1rem;
    width: 50%;
}