.outer-container{
    max-width: 90%;
    padding: 2rem;
    border-width: 2px;
    border-radius: 20px;
    margin-inline: auto;
    margin-block: 20px;
}

mat-form-field{
    display: flex;
    flex-direction: column;
}

mat-form-field input{
    padding: 10px;
}

button{
    padding: 12px 24px;
    background-color: #6640e6;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}